.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background: inherit;
    padding: 2.4rem 4.8rem;
    transition: all 0.4s ease-in-out;
    z-index: 996;
    @include media('sp') {
        padding: 2.0rem 6.0rem 2.0rem 1.8rem;
        height: 7.6rem;
        display: flex;
        border-bottom: 1px solid #D1D1D1;
    }
    .header-top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2.6rem;
        @include media("sp") {
            margin: 0;
            align-items: center;
        }

        .header-logo {
            position: relative;
            width: 28rem;
            // width: 280px;
            padding: 0;

            @include media("sp") {
                width: 20rem;
            }

            a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }

        .contact-wrapper {
            display: flex;
            width: fit-content;
            height: fit-content;
            .search-form {
                margin-right: 2rem;
                display: flex;
                height: 4.6rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 60px;
                border: 1.5px solid #D0D0D0;
                @include media("sp") {
                    height: 3.2rem;
                    border: none;
                    margin-right: 0;
                }
                .search-field {
                    margin-right: 0;
                    margin-left: 0;
                    width: 0;
                    opacity: 0;
                    font-family: "Noto Sans CJK JP";
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    letter-spacing: 0.08em;
                    color: #333333;
                    border: none;
                    transition: all 0.2s ease-in-out;
                    z-index: 500;
                    @include media("sp") {
                        font-size: 1.5rem;
                    }
                }
                .search-submit.submit {
                    display: none;
                }
                .search-submit.button {
                    display: flex;
                }
                &.active {
                    .search-field {
                        margin-right: -1.8rem;
                        margin-left: 2.4rem;
                        width: 28rem;
                        opacity: 1;
                        @include media("sp") {
                            width: 14rem;
                            margin-right: -0.8rem;
                            margin-left: 1.2rem;
                        }
                    }
                    .search-submit.submit {
                        display: flex;
                    }
                    .search-submit.button {
                        display: none;
                    }
                }
                .search-submit {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 7.2rem;
                    height: 100%;
                    border-radius: 0 60px 60px 0;
                    background: none;
                    z-index: 100;
                    @include media("sp") {
                        width: 4.8rem;
                        border: none;
                        svg {
                            width: 3.2rem;
                            height: 3.2rem;
                            color: #3472A1;
                        }
                    }
                    svg {
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }
            }
            .contact-btns {
                @include media("sp") {
                    display: none;
                }
            }
        }
    }

    .header-nav {
        position: relative;
        padding: 0;
        @include media('tb') {
            display: none;
        }
        .nav-menu {
            width: fit-content;
            margin: 0 auto;
            position: relative;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            & > li {
                position: relative;
                padding: 0;
                &:not(:first-child) {
                    margin-left: 4.8rem;
                }
                .menu-link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    font-family: "Noto Sans CJK JP";
                    font-weight: 700;
                    font-size: 1.5rem;
                    line-height: 2.8rem;
                    letter-spacing: 0.08em;
                    color: #333333;
                    margin: 0;
                    white-space: nowrap;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    z-index: 0;
                    img {
                        display: inline-block;
                        flex: 0 0 auto;
                        width: 1.1rem;
                        margin-left: 0.6rem;
                    }
                    svg {
                        display: inline-block;
                        width: initial;
                        height: auto;
                        margin-left: 0.6rem;
                    }
                    span {
                        color: inherit;
                        text-decoration: none;
                    }

                    &:hover,
                    &.active {
                        color: #0099BD;
                    }
                }
                .instgram-link {
                    position: relative;
                    display: inline-block;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
    .mobile-toggle {
        position: relative;
        display: none;
        width: 2.4rem;
        height: 1.7rem;
        padding: 0;
        background: none;
        display: none;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 9;
        @include media('sp') {
            display: block;
        }
        span {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: #FFFFFF;
            transition: all 0.4s ease-in-out;
            transform-origin: center center;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 0.8rem;
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }
        &.toggle-active {
            span {
                &:nth-child(1) {
                    transform: translateY(0.8rem) rotate(-45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(2.0rem);
                    visibility: hidden;
                }
                &:nth-child(3) {
                    transform: translateY(-0.8rem) rotate(45deg);
                }
            }
        }
    }
}

.header-fixed {
    position: fixed;
    top: -7.2rem;
    left: 0;
    width: 100%;
    background: #FBFBFB;
    padding: 1.6rem 2.0rem;
    transition: all 0.4s ease-in-out;
    z-index: 996;
    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 128.0rem;
        margin-left: auto;
        margin-right: auto;
    }
    .header-logo {
        position: relative;
        width: 26.2rem;
        // width: 262px;
        padding: 0;
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .header-nav {
        position: relative;
        padding: 0;
        @include media('tb') {
            display: none;
        }
        .nav-menu {
            position: relative;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            & > li {
                position: relative;
                padding: 0;
                &:not(:first-child) {
                    margin-left: 3.0rem;
                }
                .menu-link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    font-family: $font_gothic;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2.8rem;
                    letter-spacing: 0.08em;
                    color: #3E3A39;
                    margin: 0;
                    white-space: nowrap;
                    text-decoration: none;
                    cursor: pointer;
                    z-index: 0;
                    img {
                        display: inline-block;
                        flex: 0 0 auto;
                        width: 1.1rem;
                        margin-left: 0.6rem;
                    }
                    svg {
                        display: inline-block;
                        width: initial;
                        height: auto;
                        margin-left: 0.6rem;
                    }
                    span {
                        color: inherit;
                        text-decoration: none;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #3E3A39;
                        transform-origin: center center;
                        transform: scale(0, 1);
                        transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
                    }

                    &:hover,
                    &.active {
                        &::before {
                            transform: scale(1, 1);
                        }
                    }
                }
                .instgram-link {
                    position: relative;
                    display: inline-block;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    color: #3E3A39;
                    text-decoration: none;
                }
            }
        }
    }
    .mobile-toggle {
        position: relative;
        display: none;
        width: 2.4rem;
        height: 1.7rem;
        padding: 0;
        background: none;
        display: none;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 9;
        @include media('sp') {
            display: block;
        }
        span {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: #3E3A39;
            transition: all 0.4s ease-in-out;
            transform-origin: center center;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 0.8rem;
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }
        &.toggle-active {
            span {
                &:nth-child(1) {
                    transform: translateY(0.8rem) rotate(-45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(2.0rem);
                    visibility: hidden;
                }
                &:nth-child(3) {
                    transform: translateY(-0.8rem) rotate(45deg);
                }
            }
        }
    }
}

.contact-btns {
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: fadeIn 0.4s ease-in-out;
    
    li {
        list-style-type: none;
        position: relative;

        @include media("sp") {
            width: 100%;
        }

        .btn {
            padding: 1rem 1rem;
            width: 21.6rem;
            @include media("sp") {
                width: 100%;
            }
        }
    }
    li:first-child {
        margin-right: 1.6rem;
        
        @include media("sp") {
            margin: 0 0.8rem;
        }

        .btn {
            color: #fff;
            background-color: #0099BD;
        }
    }

    li:last-child {
        @include media("sp") {
            margin: 0 0.8rem 0 0;
        }

        .btn {
            color: #fff;
            background-color: #3472A1;
        }
    }
}