.mainview {
    margin-top: 14.8rem;
    padding-top: 3.2rem;
    padding-left: 8rem;
    position: relative;
    width: 100%;
    @include media("sp") {
        margin-top: 7.6rem;
        margin-left: 0;
        padding: 3.2rem 2.2rem 0 2.6rem;
    }
    .introduction {
        position: relative;
        z-index: 100;
        @include media("sp") {
            display: block;
            position: relative;
            float: none;
        }
        .top-text {
            margin-bottom: 3.2rem;
            color: #333;
            font-family: "Noto Sans CJK JP";
            font-size: 4rem;
            font-style: normal;
            font-weight: 900;
            line-height: 3.2rem; /* 100% */
            @include media("sp") {
                margin-bottom: 0.9rem;
                font-size: 2.1rem;
            }
        }
        .top-title {
            margin-bottom: 5.6rem;
            color: #333;
            font-family: "Noto Sans CJK JP";
            font-size: 7.2rem;
            font-style: normal;
            font-weight: 900;
            line-height: 8rem; /* 100% */
            @include media("sp") {
                margin-top: 0;
                margin-bottom: 3.6rem;
                font-size: 4.0rem;
                line-height: 4.0rem;
            }
        }
        .desc-top.top1 {
            margin-bottom: 4.8rem;
            @include media("sp") {
                margin-bottom: 2rem;
            }
        }
        .desc-top.top2 {
            margin-bottom: 2rem;
        }
        .desc-top {
            color: #333;
            font-family: "Noto Sans CJK JP";
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 4.2rem; /* 100% */
            @include media("sp") {
                font-size: 1.8rem;
                letter-spacing: 0;
                line-height: 3.2rem;
            }
            span {
                color: #3472A1;
                font-style: normal;
                font-weight: 700;
                line-height: 2.4rem;
            }
        }
        .price-text {
            margin: 3.2rem 0 7.2rem 0;
            color: #333;
            font-family: "Noto Sans CJK JP";
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 900;
            line-height: 3.2rem; /* 100% */
            @include media("sp") {
                margin: 2.4rem 0 4.0rem 0;
                font-size: 2.4rem;
            }
            span {
                margin: 0 0.8rem;
                color: #3472A1;
                font-family: "Montserrat";
                font-size: 6.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 6.4rem; /* 100% */
                @include media("sp") {
                    font-size: 4.0rem;
                }
            }
        }
        .contact-btns.sp {
            display: none !important;
            @include media("sp") {
                display: flex !important;
                margin: 3rem -1.2rem !important;
            }
        }
        .contact-btns.pc {
            display: flex !important;
            @include media("sp") {
                display: none !important;
            }
        }
        .contact-btns {
            margin: 2.4rem 0 3.2rem 0;
            @include media("sp") {
                justify-content: space-between;
            }
            li {
                .btn {
                    width: 30rem !important;
                    height: 6.4rem !important;
                    font-size: 1.8rem !important;
                    @include media("sp") {
                        font-size: 1.4rem !important;
                        height: 4.8rem !important;
                        width: 100% !important;
                    }
                }
                .long-term::before {
                    background: #E6F5F8 !important;
                }
                .job-consult::before {
                    background: #EBF1F6 !important;
                }
            }
            @include media("sp") {
                width: 106%;
                margin: 4rem -1.2rem 2.2rem -1.2rem;
                display: flex;
                li {
                    width: 48%;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                }
                & > li:first-child {
                    margin-right: 0.8rem;
                }
            }
        }
        .btn-rightarrow {
            @include media("sp") {
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 3.2rem;
            }
        }
        .goto-channel {
            width: 95%;
            margin: 0 auto;
            background: #FFF;
            box-shadow: 0px 0px 5px 4px rgba(207, 207, 207, 0.25);
            .play-wrapper {
                padding: 1.2rem 0;
                .btn-play {
                    display: flex;
                    width: fit-content;
                    margin: 0 auto;
                    color: #000;
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.8rem; /* 112.5% */
                    img {
                        margin-right: 1rem;
                        width: 2.8rem;
                        position: relative;
                    }
                }
            }
            .btn-desc {
                display: flex;
                width: 100%;
                height: 3.6rem;
                align-items: center;
                justify-content: center;
                background-color: #F00;
                color: #FFF;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 14px; /* 100% */
            }
        } 
    }
    img {
        display: block;
        position: absolute;
    }
    .cxo-image {
        top: 23.6rem;
        right: 0rem;
        width: 60%;
        height: auto;
        z-index: 0;
        @include media("sp") {
            top: 24rem;
            width: 80%;
        }
    }
    .bars-pic {
        top: 15rem;
        right: 0rem;
        width: 65%;
        height: 70rem;
        z-index: 10;
        @include media("sp") {
            top: 7.2rem;
            width: 100%;
            height: 50rem;
        }
    }
    #myVideo {
        position: absolute;
        width: 85%;
        right: 0;
        top: 0;
        @include media("sp") {
            position: absolute;
            width: 136%;
            left: 0;
            right: 0;
            top: 15.2rem;
        }
    }
    .top-background {
        position: absolute;
        width: 136%;
        left: 0;
        right: 0;
        top: 15.2rem;
    }
    .mans-couple {
        top: 39rem;
        right: 5.6rem;
        width: 15%;
        height: auto;
        z-index: 900;
        @include media("sp") {
            top: 2rem;
            width: 35%;
            left: 4rem;
            height: auto;
        }
    }
}

.title-wrapper {
    @include media("sp") {
        margin-bottom: 2.4rem !important;
        margin-left: 2.6rem !important;
        align-items: flex-start !important;
    }
    .main-title {
        @include media("sp") {
            text-align: left !important;
            margin-top: 1rem !important;
        }
    }
}

.features {
    margin-top: 8rem;
    padding: 0 0 6.0rem 0;
    @include media("sp") {
        margin-top: 1rem;
    }
    .title-wrapper {
        margin-bottom: 2.4rem;
        @include media("sp") {
            margin-bottom: 0 !important;
            margin-left: 2.6rem;
            padding-right: 6.2rem;
            align-items: flex-end !important;
        }
        .main-title {
            text-wrap: nowrap;
            left: auto;
            right: 12rem !important;
            @include media("sp") {
                font-size: 2.2rem;
            }
        }
    }
    // .container.pc {
    //     display: block;
    //     @include media("sp") {
    //         display: none;
    //     }
    // }
    // .container.sp {
    //     display: none;
    //     @include media("sp") {
    //         display: block;
    //     }
    // }
    .feature-wrapper {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 6.0rem;
        @include media("sp") {
            display: block;
            margin-bottom: 4.0rem;
        }
        .image-wrapper {
            display: block;
            position: relative;
            width: 46%;
            height: auto;
            @include media("sp") {
                width: 100%;
                margin-bottom: 2.0rem;
            }
            img {
                width: 100%;
            }
            .desc {
                margin-top: 1.2rem;
                font-weight: 500;
                @include media("sp") {
                    font-size: 1.4rem !important;
                }
            }
        }
        .content-wrapper {
            width: 48%;
            height: fit-content;
            @include media("sp") {
                width: 100%;
                margin-bottom: 3.2rem;
            }
            .first-title {
                display: flex;
                align-items: center;
                margin-bottom: 4rem;
                color: #2C72A2;
                font-family: "Noto Sans CJK JP";
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.4rem; /* 100% */
                @include media("sp") {
                    margin-top: -1.2rem;
                    font-size: 2.0rem;
                    margin-bottom: 2rem;
                }
                span {
                    width: 4rem;
                    height: 4rem;
                    margin-left: 1.4rem;
                    border-radius: 50%;
                    background-color: #2C72A2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    font-family: "Montserrat";
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 2rem; /* 100% */
                    letter-spacing: 0.8px;
                    @include media("sp"){
                        font-size: 1.6rem;
                        width: 3.2rem;
                        height: 3.2rem;
                    }
                }
            }
            .second-title {
                margin-bottom: 3.2rem;
                color: #333;
                font-family: "Noto Sans CJK JP";
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 700;
                line-height: 4.8rem; /* 100% */
                @include media("sp") {
                    font-size: 2.2rem;
                    margin-bottom: 2.0rem;
                    line-height: 3.2rem;
                }
            }
            .desc {
                color: #333;
                font-family: "Noto Sans CJK JP";
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 3.6rem; /* 225% */
            }
        }
    }
}

.community {
    background-color: #DCEEE6;
    padding-bottom: 1rem;
    padding-top: 3.2rem;
    @include media("sp") {
        padding-top: 2.4rem;
    }
    .title-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        text-wrap: nowrap;
        text-align: center;
        @include media("sp") {
            margin-bottom: 0 !important;
        }
        .title-text {
            color: #fff !important;
            @include media("sp"){
                margin-left: auto;
                margin-right: 4.8rem;
            }
        }
        .main-title {
            left: calc(50% - 33.8rem);
            @include media("sp") {
                top: -3.8rem !important;
                font-size: 2.2rem;
            }
        }
        img {
            position: absolute;
            width: 17rem;
            left: calc(50% + 45.2rem);
            @include media("sp") {
                width: 7.8rem;
                left: calc(50% + 8rem);
                top: -5.4rem;
            }
        }
    }
    .desc {
        width: fit-content;
        margin: 0 auto 6.4rem auto;
        text-align: center;
        color: #333;
        text-align: center;
        font-family: "Noto Sans CJK JP";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.6rem; /* 225% */
        @include media("sp") {
            padding: 0 2.6rem;
            text-align: justify;
            margin-bottom: 3.2rem;
        }
    }
    .slider-wrapper {
        display: flex;
        width: fit-content;
        position: relative;
        .slider-item {
            display: block;
            position: relative;
            margin-right: 3.9rem;
            width: 37.4rem;
            .item-wrapper {
                display: block;
                position: relative;
                width: 100%;
                border-radius: 6px;
                img {
                    border-radius: 6px 6px 0 0;
                    width: 100%;
                    height: auto;
                }
                .content-wrapper {
                    padding: 2.0rem 2.4rem;
                    @include media("sp") {
                        background-color: #fff;
                        border-radius: 0 0 6px 6px;
                        padding: 1.6rem 1.2rem;
                    }
                    .title {
                        margin-bottom: 1rem;
                        color: #333;
                        font-family: "Montserrat";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.6rem; /* 100% */
                        @include media("sp") {
                            // font-family: "Noto Sans CJK JP";
                            font-size: 1.5rem;
                        }
                    }
                    .content {
                        color: #333;
                        font-family: "Montserrat";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.6rem; /* 150% */
                        @include media("sp") {
                            // font-family: "Noto Sans CJK JP";
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    .btn-rightarrow {
        margin: 2.0rem auto 6.0rem auto;
        @include media("sp") {
            margin: 3.2rem auto 4.0rem auto;
        }
    }
}

.news {
    padding: 2.4rem 0 6.0rem 0;
    @include media("sp") {
        padding-top: 4.8rem;
    }
    .title-wrapper {
        @include media("sp") {
            margin-bottom: 0 !important;
        }
        .title-text {
            @include media("sp") {
                margin-left: auto;
                margin-right: 6.8rem;
            }
        }
        .main-title {
            left: calc(50% - 18.8rem);
            @include media("sp") {
                top: -3.8rem !important;
                font-size: 2.2rem;
            }
        }
    }
    .news-wrapper {
        .news-item {
            .item {
                li {
                    &:last-child {
                        width: 77%;
                        @include media("sp") {
                            width: 100%;
                        }
                        a {
                            width: 100%;
                            // white-space: nowrap;
                            // overflow: hidden;
                            // text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
    .btn-rightarrow {
        margin: 4.0rem auto;
        @include media("sp") {
            margin: 2.4rem auto 0 auto;
        }
    }
}

.case {
    padding: 2.4rem 0 6.0rem 0;
    background-color: #DEF2F6;
    @include media("sp") {
        padding-top: 4.8rem;
    }
    .female {
        display: block;
        position: relative;
        z-index: 50;
        img {
            width: 13.9rem;
            display: block;
            position: absolute;
            left: calc(50% - 37.8rem);
            top: -7.0rem;   
            @include media("sp") {
                width: 7.4rem;
                left: calc(50% - -9.2rem);
                top: -10rem;
            }
        }
    }
    .title-wrapper {
        .title-text {
            text-align: end;
            color: #fff;
            @include media("sp") {
                margin-left: auto;
                margin-right: 5.8rem;
            }
        }
        .main-title {
            left: calc(50% - 18.8rem);
            @include media("sp") {
                margin-left: -0.6rem;
                top: -3.8rem !important;
                font-size: 2.2rem;
            }
        }
    }
    .desc {
        margin: 4.8rem auto 3.2rem auto;
        color: #333;
        text-align: center;
        font-family: "Noto Sans CJK JP";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.6rem; /* 225% */
        @include media("sp") {
            padding: 0 2.6rem;
        }
    }

    .top-case-slider {
        @include media("sp") {
            width: 100% !important;
            margin: 0px auto !important;
        }
        .slider-item {
            @include media("sp") {
                margin-right: 2rem !important;
                margin-left: 2rem !important;
            }
        }
        .slick-arrow {
            z-index: 500;
            top: 45% !important;
            width: fit-content !important;
            @include media("sp") {
                top: 50% !important;
            }
            i {
                font-size: 4.8rem;
                color: #d5d5d5b5 !important;
                @include media("sp") {
                    font-size: 3.6rem;
                }
            }
        }
        .slick-arrow:hover i {
            color: #a9a9a9e0 !important;
        }
    
        .slick-prev {
            left: 4rem;
            @include media("sp") {
                left: 1.6rem;
            }
        }
    
        .slick-next {
            right: 4rem;
            @include media("sp") {
                right: 1.6rem;
            }
        }
    
        .slick-prev:before, .slick-next:before {
            display: none;
        }
    }

    .item-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        grid-column-gap: 4rem;    
        grid-row-gap: 4.8rem;
        margin: 0 12rem;
        @include media("sp") {
            margin: 0 1.6rem;
            grid-template-columns: repeat(2, minmax(0px, 1fr));
            grid-column-gap: 1.0rem;
            grid-row-gap: 1.0rem;
        }
        .content-wrapper {
            display: block;
            padding: 1.6rem;
            border-radius: 6px;
            background: #FFF;
            box-shadow: 0px 0px 6px 4px rgba(210, 210, 210, 0.25);
            height: 100%;
            @include media("sp") {
                padding: 1.6rem 0.8rem;
            }
            .top-section {
                display: flex;
                align-items: center;
                margin-bottom: 2.1rem;
                @include media("sp") {
                    flex-direction: column;
                    margin-bottom: 0.6rem;
                }
                img {
                    width: 4.8rem;
                    height: 4.8rem;
                    margin-right: 1.2rem;
                    @include media("sp") {
                        width: 3.2rem;
                        height: 3.2rem;
                        margin-right: 0;
                        margin-bottom: 0.6rem;
                    }
                }
                .top-text {
                    @include media("sp") {
                        margin-bottom: 2.0rem;
                    }
                    .head {
                        margin-bottom: 0.6rem;
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 2.4rem; /* 150% */
                        @include media("sp") {
                            text-align: center;
                            font-size: 1.4rem;
                            margin-bottom: 1.0rem;
                        }
                    }
                    .gender {
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.4rem; /* 100% */
                        @include media("sp") {
                            text-align: center;
                            letter-spacing: -0.05em;
                        }
                    }
                }
            }
            .middle-section {
                display: flex;
                position: relative;
                align-items: center;
                @include media("sp") {
                    flex-direction: column;
                    border: 1px solid #F4F4F4;
                }
                .left {
                    position: relative;
                    width: 7.4rem;
                    height: 12.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #F4F4F4;
                    margin-right: 1.6rem;
                    color: #333;
                    font-family: "Noto Sans CJK JP";
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.6rem; /* 100% */
                    @include media("sp") {
                        margin: 0;
                        width: 15.1rem;
                        height: 3.8rem;
                        font-size: 1.4rem;
                    }
                    @include media("pc") { 
                        &::after {
                            position: absolute;
                            content: "";
                            background-image: url(../img/down-mark.png);
                            width: 3.6rem;
                            height: 2.2rem;
                            left: calc(50% - 1.2rem);
                            bottom: -0.2rem;
                            transform: rotate(135deg);
                        }
                    }
                }
                .right {
                    width: 74%;
                    @include media("sp") {
                        width: 100%;
                        padding: 1.2rem;
                        text-align: center;
                    }
                    .top-text {
                        margin-bottom: 0.65rem;
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.0rem; /* 142.857% */
                        @include media("sp") {
                            font-size: 1.2rem;
                        }
                    }
                    .middle-text {
                        margin-bottom: 1.0rem;
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.6rem; /* 100% */
                        @include media("sp") {
                            font-size: 1.4rem;
                        }
                    }
                    .bottom-text {
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.4rem; /* 100% */
                        letter-spacing: 0.56px;
                        @include media("sp") {
                            font-size: 1.3rem;
                        }
                        span {
                            color: #333;
                            font-family: "Montserrat";
                            font-size: 1.6rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.6rem; /* 100% */
                            letter-spacing: 0.64px;
                            margin: 0 0.6rem;
                            @include media("sp") {
                                margin: 0 0.4rem;
                            }
                        }
                    }
                }
            }
            .down-mark.sp {
                width: 5.2rem;
                height: 1.1rem;
                margin: 1.6rem auto;
            }
            .bottom-section {
                display: flex;
                align-items: center;
                @include media("sp") {
                    flex-direction: column;
                    border: 1px solid #3472A1;
                }
                .left {
                    width: 7.4rem;
                    height: 12.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #3472A1;
                    margin-right: 1.6rem;
                    color: #F4F4F4;
                    font-family: "Noto Sans CJK JP";
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.5rem; /* 100% */
                    @include media("sp") {
                        width: 100%;
                        height: 3.8rem;
                        margin: 0;
                        font-size: 1.4rem;
                    }
                }
                .right {
                    width: 74%;
                    @include media("sp") {
                        width: 100%;
                        text-align: center;
                        padding: 1.2rem 0.2rem;
                    }
                    .top-text {
                        margin-bottom: 0.6rem;
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.0rem; /* 142.857% */
                    }
                    .middle-text {
                        margin-bottom: 1.3rem;
                        color: #3472A1;
                        font-family: "Montserrat";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.6rem; /* 100% */
                        @include media("sp") {
                            font-size: 1.4rem;
                            margin-bottom: 1.0rem;
                        }
                    }
                    .bottom-text {
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.4rem; /* 100% */
                        letter-spacing: 0.56px;
                        @include media("sp") {
                            font-size: 1.3rem;
                        }
                        span {
                            color: #3472A1;
                            font-family: "Montserrat";
                            font-size: 1.6rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 1.6rem; /* 100% */
                            letter-spacing: 0.64px;
                            margin: 0 0.6rem;
                            @include media("sp") {
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-rightarrow {
        margin: 2.4rem auto 0 auto;
    }
}

.interview {
    padding: 3.2rem 0 6.0rem 0;
    @include media("sp") {
        padding-top: 4.8rem;
    }
    .title-wrapper {
        @include media("sp") {
            margin-bottom: 0 !important;
        }
        .title-text {
            text-align: start;
            @include media("sp"){
                margin-left: auto;
                margin-right: 6.2rem;
            }
        }
        .main-title {
            text-wrap: nowrap;
            left: auto;
            right: 12rem !important;
            @include media("sp") {
                font-size: 2.2rem;
                top: -3.8rem !important;
                right: auto !important;
            }
        }
    }
    .sub-title {
        margin: 3.2rem auto 3.2rem 0;
        color: #333;
        font-family:"Noto Sans CJK JP";
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.4rem; /* 100% */
        @include media("sp") {
            font-size: 2.4rem;
            line-height: 3.8rem;
        }
    }
    .desc {
        margin-bottom: 6.4rem;
        color: #333;
        font-family: "Noto Sans CJK JP";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.6rem; /* 225% */
        @include media("sp") {
            margin-bottom: 3.2rem;
        }
    }
    .slider-wrapper {
        display: flex;
        width: fit-content;
        position: relative;
        .slider-item {
            display: block;
            position: relative;
            margin-right: 3.9rem;
            width: 37.4rem;
            .item-wrapper {
                display: block;
                position: relative;
                width: 100%;
                border-radius: 6px;
                img {
                    border-radius: 6px 6px 0 0;
                    width: 100%;
                    height: auto;
                }
                .content-wrapper.pc {
                    padding: 1.2rem 0;
                    .title {
                        display: block;
                        margin-bottom: 1.2rem;
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.4rem; /* 150% */
                        &:hover {
                            color: #1BA2C5;
                        }
                    }
                    .category {
                        margin-bottom: 1.2rem;
                        padding: 0.6rem 1.2rem;
                        background-color: #1BA2C5;
                        color: #FFF;
                        font-family: "Montserrat";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.4rem; /* 100% */
                    }
                    .name {
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.4rem; /* 100% */
                    }
                }
                .content-wrapper.sp {
                    padding: 1.2rem 0;
                    .title {
                        display: block;
                        margin-bottom: 1.2rem;
                        color: #1BA2C5;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.4rem; /* 150% */
                    }
                    .company-name {
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.4rem; /* 100% */
                        margin-bottom: 1rem;
                    }
                    .name-category {
                        display: flex;
                    }
                    .category {
                        padding: 0.6rem 1.2rem;
                        background-color: #1BA2C5;
                        color: #FFF;
                        font-family: "Montserrat";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.4rem; /* 100% */
                        margin-right: 1.2rem;
                    }
                    .name {
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.4rem; /* 100% */
                    }
                }
            }
        }
    }
    .btn-rightarrow {
        margin: 2.4rem auto;
    }
}

.flow {
    background-color: #FEF6EC;
    padding: 3.2rem 0 6.0rem 0;
    .title-wrapper {
        @include media("sp") {
            margin-bottom: 0 !important;
        }
        .title-text {
            text-align: end;
            color: #FFF;
            @include media("sp"){
                margin-left: auto;
                margin-right: 6.2rem;
            }
        }
        .main-title {
            left: calc(50% - 18.8rem);
            @include media("sp") {
                font-size: 2.2rem;
                top: -3.8rem !important;
            }
        }
    }
    .sub-title {
        margin: 3.2rem auto 3.2rem 0;
        color: #333;
        font-family:"Noto Sans CJK JP";
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.4rem; /* 100% */
        @include media("sp") {
            font-size: 2.0rem;
            line-height: 3.8rem;
            margin: 0 auto 2.4rem 0;
        }
    }
    .desc {
        margin-bottom: 6.4rem;
        color: #333;
        font-family: "Noto Sans CJK JP";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.6rem; /* 225% */
        @include media("sp") {
            margin-bottom: 3.2rem;
        }
    }
    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6.8rem;
        @include media("sp") {
            flex-direction: column;
        }
        img {
            width: 46%;
            height: auto;
            @include media("sp") {
                width: 100%;
                margin-bottom: 3.2rem;
            }
        }
        .steps-wrapper {
            width: 45%;
            display: flex;
            flex-direction: column;
            @include media("sp") {
                width: 100%;
            }
            .steps {
                display: flex;
                flex-direction: column;
                li {
                    .step-wrapper {
                        display: flex;
                        align-items: center;
                        .number {
                            display: flex;
                            position: relative;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            margin-right: 3.2rem;
                            width: 6.4rem;
                            height: 6.4rem;
                            background-color: #3472A1;
                            border-radius: 50px;
                            aspect-ratio: 1 /1 !important;
                            @include media("sp") {
                                margin-right: 2.4rem;
                                width: 5.2rem;
                                height: 5.2rem;
                            }
                            .step-text {
                                color: #FFF;
                                font-family: "Montserrat";
                                font-size: 1.2rem;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 1.2rem; /* 100% */
                                letter-spacing: 1.2px;
                                margin-top: 0.8rem;
                                margin-bottom: 0.3rem;
                                @include media("sp") {
                                    font-size: 1.0rem;
                                    margin-top: 0.6rem;
                                    margin-bottom: 0;
                                }
                            }
                            .step-number {
                                color: #FFF;
                                font-family: "Montserrat";
                                font-size: 2.0rem;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 2.4rem; /* 100% */
                                letter-spacing: 3.84px;
                                @include media("sp") {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                        .step-content {
                            color: #3472A1;
                            font-family: "Noto Sans CJK JP";
                            font-size: 2rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 2.4rem; /* 120% */
                            letter-spacing: 2px;
                            @include media("sp") {
                                font-size: 1.7rem;
                                line-height: 2.8rem;
                            }
                        }
                    }
                }
                & > li:not(:last-child) {
                    margin-bottom: 4rem;
                    .step-wrapper {
                        .number {
                            &::after {
                                position: absolute;
                                content: "";
                                width: 2px;
                                height: 4.2rem;
                                background-color: #3472A1;
                                bottom: -4.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-rightarrow {
        right: -54.9%;
        @include media("sp") {
            right: auto;
        }
    }
}

.column {
    padding: 3.2rem 0 6.0rem 0;
    .title-wrapper {
        margin-bottom: 3.2rem;
        @include media("sp") {
            margin-bottom: 0 !important;
        }
        .title-text {
            text-align: start;
            @include media("sp"){
                margin-left: auto;
                margin-right: 6.2rem;
            }
        }
        .main-title {
            left: calc(50% + 3.2rem);
            @include media("sp") {
                font-size: 2.2rem;
                top: -3.8rem !important;
                left: calc(50% - 12rem) !important;
            }
        }
    }
    .contents {
        display: flex;
        position: relative;
        width: 100%;
        @include media("sp") {
            flex-direction: column;
        }
        & > .content-item:first-child {
            margin-right: 4rem;
            @include media("sp") {
                margin-right: 0;
                margin-bottom: 3.2rem;
            }
            .career-wrapper {
                img {
                    width: 11.8rem;
                    @include media("sp") {
                        width: 8.5rem;
                    }
                }
            }
        }
        & > .content-item:last-child {
            .career-wrapper {
                img {
                    width: 10.7rem;
                    @include media("sp") {
                        width: 8.2rem;
                    }
                }
            }
        }
        .content-item {
            position: relative;
            width: 100%;
            border-radius: 6px;
            background: #FFF;
            box-shadow: 0px 0px 6px 4px rgba(210, 210, 210, 0.25);
            padding-bottom: 9.2rem;
            @include media("tc") {
                max-width: 48%;
            }
            .career-wrapper {
                padding: 4rem 6rem 0 6rem;
                display: flex;
                align-items: center;
                margin-bottom: 4rem;
                @include media("tb") {
                    padding: 3.2rem 2.4rem 0 2.4rem;
                }
                @include media("tc") {
                    padding: 3.2rem 3.6rem 0 3.6rem;
                }
                @include media("sp") {
                    padding: 2.4rem 1.6rem 0 1.6rem;
                }
                img {
                    margin-right: 4rem;
                    @include media("sp") {
                        margin-right: 1.0rem;
                    }
                }
                .career-text {
                    .title {
                        margin-bottom: 1.6rem;
                        color: #333;
                        font-family: "Montserrat";
                        font-size: 2.4rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 3.6rem;
                        letter-spacing: 2.4px;
                        @include media("sp") {
                            font-size: 1.6rem;
                            margin-bottom: 0.8rem;
                            line-height: 2.4rem;
                        }
                    }
                    .desc {
                        color: #333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px; /* 213.333% */
                        text-wrap:nowrap;
                        margin-bottom: 0;
                        @include media("sp") {
                            font-size: 1.4rem !important;
                            line-height: 2.2rem !important;
                            text-wrap: wrap;
                        }
                    };
                }
            }
            .article-text {
                margin-left: 4rem;
                margin-bottom: 1.6rem;
                color: #333;
                font-family: "Noto Sans CJK JP";
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 700;
                line-height: 18px; /* 100% */
                @include media("sp") {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
            }
            .articles {
                display: block;
                position: relative;
                margin-bottom: 2.4rem;
                & > li:first-child {
                    .desc {
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                    svg {
                        margin-left: auto;
                    }
                }
                li {
                    a {
                        display: flex;
                        align-items: center;
                        position: relative;
                        margin: 0 1.6rem;
                        padding: 2.4rem 2.3rem;
                        width: auto;
                        border-bottom: 1px solid #AEAEAE;
                        &:hover {
                            .title, .desc {
                                color: #1BA2C5;
                            }
                        }
                        @include media("sp") {
                            padding: 2.0rem 1.2rem;
                        }             
                        .title-wrap {
                            width: 86%;
                            margin-bottom: 0;
                        }
                        .number {
                            width: 2%;
                            display: block;
                            margin-top: 0.8rem;
                            margin-bottom: auto;
                            margin-right: 2.4rem;
                            color: #3472A1;
                            text-align: center;
                            font-family: "Montserrat";
                            font-size: 1.8rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 18px; /* 100% */
                            @include media("sp") {
                                margin-top: 0.2rem;
                                font-size: 1.6rem;
                                margin-right: 1.8rem;
                            }
                        }
                    }
                    .desc {
                        @include media("sp") {
                            margin-bottom: 0;
                            line-height: 2.4rem !important;
                        }
                    }
                    .title {
                        width: 86%;
                        margin-right: 1.6rem;
                        color: #333333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 3.2rem; /* 100% */
                        @include media("sp") {
                            font-size: 1.4rem;
                            line-height: 2.0rem;
                            margin-right: 1.2rem;
                        }
                        &:hover {
                            color: #1BA2C5;
                        }
                    }
                    svg {
                        margin-left: auto;
                    }
                }
            }

            .articles.sp {
                display: block;
                position: relative;
                margin-bottom: 2.4rem;
                & > li:first-child a {
                    .desc {
                        font-weight: 500;
                    }
                    svg {
                        margin-left: auto;
                    }
                }
                .article a {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;
                    margin: 0 1.6rem;
                    padding: 2.0rem 1.2rem;
                    width: auto;
                    border-bottom: 1px solid #AEAEAE;              
                    .title-wrap {
                        width: 86%;
                        margin-bottom: 0;
                    }
                    .number-title {
                        display: flex;
                        .number {
                            margin-bottom: 0.8rem;
                        }
                    }
                    .desc-arrow {
                        display: flex;
                        justify-content: space-between;
                        .desc {
                            width: 90%;
                            @include media("sp") {
                                margin-bottom: 0;
                                font-size: 1.4rem !important;
                                font-weight: 400;
                            }
                        }
                        svg {
                            width: 1.6rem;
                            height: 1.6rem;
                            margin-left: auto;
                            margin-top: 0.4rem;
                        }
                    }
                    .number {
                        display: block;
                        margin-bottom: auto;
                        margin-top: 0.8rem;     
                        margin-right: 2.4rem;
                        color: #3472A1;
                        text-align: center;
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 18px; /* 100% */
                        @include media("sp") {
                            margin-top: 0.1rem;
                        }
                    }
                    .title {
                        width: 86%;
                        margin-right: 1.6rem;
                        color: #333333;
                        font-family: "Noto Sans CJK JP";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 3.2rem; /* 100% */
                        @include media("sp") {
                            font-size: 1.5rem;
                            line-height: 2.0rem;
                        }
                        &:hover {
                            color: #1BA2C5;
                        }
                    }
                }
            }

            .btn-rightarrow {
                position: absolute;
                bottom: 3.2rem;
                left: calc(50% - 13.6rem);
                @include media("sp") {
                    width: 80% !important;
                }
            }
        }
    }
}

.aboutus {
    padding: 3.2rem 0 16.7rem 0;
    background-color: rgba(52, 114, 161, 0.10);
    @include media("sp") {
        padding: 3.2rem 0 0rem 0;
    }
    .title-wrapper {
        margin-bottom: 3.2rem;
        @include media("sp") {
            margin-bottom: 0 !important;
        }
        .title-text {
            text-align: end;
            color: #FFF;
            @include media("sp"){
                margin-left: auto;
                margin-right: 6.2rem;
            }
        }
        .main-title {
            left: calc(50% - 18.8rem);
            @include media("sp") {
                font-size: 2.2rem;
                top: -3.8rem !important;
            }
        }
    }
    .container {
        width: 90% !important;
        max-width: 140rem;
        @include media("sp") {
            width: 100% !important;
        }
        .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 7.2rem;
            @include media("sp") {
                flex-direction: column;
                margin-bottom: 0;
            }
            .left-wrapper {
                width: 49%;
                @include media("sp") {
                    width: 100%;
                }
                .title {
                    margin-bottom: 3.2rem;
                    color: #333;
                    font-family: "Inter";
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include media("sp") {
                        font-size: 1.9rem;
                        line-height: 3.6rem;
                    }
                }
                .desc {
                    margin-bottom: 4rem;
                    color: #333;
                    font-family: "Noto Sans CJK JP";
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 3.6rem; /* 225% */
                    letter-spacing: 1.6px;
                    @include media("sp") {
                        margin-bottom: 2.4rem;
                    }
                }
                .btn-rightarrow {
                    width: fit-content;
                    margin: 0 auto 2.4rem auto;
                }
            }
            .right-wrapper {
                width: 46%;
                @include media("sp") {
                    width: 100%;
                }
                img {
                    width: 100%;
                }
            }
            .btn-rightarrow.sp {
                margin: 0 auto 2.4rem auto;
                @include media("sp") {
                    display: flex !important;
                    margin: 2.8rem auto 3.8rem auto;
                }
            }
        }
        .aboutus-img {
            width: 100%;
        }
    }
}